.logo {
  @include photo('../../img/logo/logo.png');

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../img/logo/logo@2x.png');
  }

  @include breakpoint(max, tablet) {
    @include size(125px, 35px);
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @include breakpoint(min, tablet) {
    @include breakpoint(max, laptop) {
      @include size(156px, 43px);
      margin-right: 190px;
    }
  }

  @include breakpoint(min, laptop) {
    @include size(38px, 37px);
    margin-right: 43px;
    background-image: url('../../img/logo/logo.svg');
  }
}
