.theme-switch {
  @include size(148px, 24px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(max, tablet) {
    @include position(absolute);
    top: 30%;
    left: 20px;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @include breakpoint(min, tablet) {
    @include breakpoint(max, laptop) {
      @include position(absolute);
      top: 40%;
      left: 220px;
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  @include breakpoint(min, laptop) {
    margin-right: 20px;
  }

  &__label {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }

  &__control {
    @include position();
    @include size(40px, 16px);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #fd5103;
    border-radius: 20px;
    padding: 2px 0;
    margin: 0 5px;
  }

  &__toggle {
    @include position(absolute);
    @include size(0);
    margin: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__track {
    @include position(absolute);
    @include size(100%);
    color: transparent;
    user-select: none;
    background-color: #fff;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
  }

  &__marker {
    @include position();
    @include size(12px);
    background-color: #fd5103;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    transform: translateX(2px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__toggle:checked + &__track {
    background-color: #fd5103;
  }

  &__toggle:checked ~ &__marker {
    background-color: #fff;
    transform: translateX(24px);
  }

  &__toggle:focus + &__track,
  &__toggle:active + &__track {
    box-shadow: 0 0 0 2px yellowgreen;
  }
}

.theme-switch-active {
  color: #fd5103;
}
